@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.tnycheader{
  background-color:black;
} 
 .tnycheadertext{
   color:white;
   text-align:center;
   font-size:80px;
   margin:30px;
   font-family: 'Bebas Neue', cursive;
 }
 

 .mpicture {
   display: block;
         margin-left: auto;
         margin-right: auto;}
@media screen and (max-width: 1225px) {
  .mpicture{
    width: 100%;
    height: 100%;
  }}